<!DOCTYPE html>
<html>

<head>

 <title> PGFOOT </title> 
 {% load staticfiles %}
 <link rel="stylesheet" href="{% static "css/style.css" %}" >
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
    <header>
        <nav>
            <div class="cont">
                <a href="menu.html" class"menu">
                <img height="45" width="40" src="imagens/barrinhas.png" alt="MENU">
                </a>
            </div>
            <div class="logoo">
                <a href="index.html">
                    <img width="80" height="80" src="imagens/logotempo.png">
                </a>
            </div>

            <div class="contatos">
                <ul>
                  <li><a href="https://www.instagram.com"> <img height="45" width="35" src="imagens/INSTA.png"></a></li>
                  <li><a href="https://web.whatsapp.com"> <img height="45" width="40" src="imagens/WHATS.png"> </a></li>
                </ul>
            </div>
        </nav>
    </header>
    <br>
<main>

<img width="33%" src="imagens/FEMINCAIMI.jpg">
<img width="33%" src="imagens/VANDJIK.jpg">
<img width="33%" src="imagens/CAMISAMASC.jpg">
<img width="33%" src="imagens/NIKE.png">
<img width="33%" src="imagens/pumacrt.png">
<img height="350px" width="33%" src="imagens/addidas.png">


    <div class="camisas">        
        <section class= "camisaspromo">            
            <img height="170px" width="100%" src="imagens/promoções.png">
            <br>
            <br>            
            <article= class= "camisaspro">
                <br>
                <img height="250" width="250" src="imagens/camisainter.png" alt="CAMISA 1">
                <h4>Camisa Inter de Milão 2021</h4>
                <h4>R$ 99,90</h4>
                <button type="button">COMPRAR</button>

            </article>
            <br>
            <article= class= "camisaspro">
                <img height="250" width="250" src="imagens/camisachelsea.png" alt="CAMISA 2">
                <h4>Camisa Chelsea 2021</h4>
                <h4>R$ 99,90</h4>                
                <button type="button">COMPRAR</button>

            </article>
            <br>
            <article= class= "camisaspro">
                <img height="250" width="250" src="imagens/camisadortmound.png" alt="CAMISA 3">
                <h4>Camisa Borussia Dortmound 2021</h4>
                <h4>R$ 99,90</h4>
                <button type="button">COMPRAR</button>

            </article>

        </section>

    </div>

</main>


</body>

</html>