{%load static%}
<!DOCTYPE html>
<html>
    <head>

        <title> PGFOOT </title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
       </head>
       
       <body>
           <header>
               <nav>
                   <div class="cont">
                       <a href=" {% url 'menu' %} "class"menu">
                           <img height="45" width="40" src="imagens/barrinhas.png" alt="MENU">
                       </a>
                   </div>
                <div class="logoo">
                    <a href=" {% url 'index' %} ">
                        <img width="80" height="80" src="imagens/logotempo.png">
                    </a>
                </div>
       
                   <div class="contatos">
                       <ul>
                         <li><a href="https://www.instagram.com"> <img height="45" width="35" src="imagens/INSTA.png"></a></li>
                         <li><a href="https://web.whatsapp.com"> <img height="45" width="40" src="imagens/WHATS.png"> </a></li>
                       </ul>
                      </div>
               </nav>
           </header>
           
<div class="ligamenu"> 
    <h3><a href=" {% url 'premierl' %} "><img width="70" height="70" src="imagens/premier-league-5.png">
    </a>
    <br>
    PREMIER LEAGUE <br> <br>
    Disponíveis:<br>
    Manchester City <br>
    Chelsea <br>
    Tottenham
</h3>

<h3><a href=" {% url 'serieA' %} "><img width="80" height="70" src="imagens/serieA.png">
    </a>
    <br>
    SÉRIE A <br> <br>
    Disponíveis:<br>
    Juventus <br>
    Inter de Milão <br>
    Milan
</h3>

<h3><a href=" {% url 'bundesliga' %} "> <img width="80" height="75" src="imagens/bundesliga.png">
    </a>
    <br>
    BUNDESLIGA <br> <br>
    Disponíveis:<br>
    Bayer de Munique <br>
    Wolfsburg <br>
    Borussia Dortmound <br>
</h3>
<br>
<br>
<br>
</div>
    <div class="frete">
         <h2>FRETE GRÁTIS A PARTIR DE 199,90!!!! ----------- FRETE GRÁTIS A PARTIR DE 199,90!!!! ---------- FRETE GRÁTIS A PARTIR DE 199,90!!!! </h2>
    </div>
<br>
<br>
<br>
<br>
<img width="33%" src="imagens/NIKE.png">
<img width="33%" src="imagens/pumacrt.png">
<img height="350px" width="33%" src="imagens/addidas.png">

       </body>
       
</html>