{%load static%}
<!DOCTYPE html>
<html>
    <head>

        <title> PGFOOT </title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
       </head>
       
       <body>
           <header>
               <nav>
                   <div class="cont">
                       <a href=" {% url 'menu' %} " class"menu">
                           <img height="45" width="40" src="{% static 'imagens/barrinhas.png' %}" alt="MENU">
                       </a>
                   </div>
                <div class="logoo">
                    <a href=" {% url 'index' %} ">
                        <img width="80" height="80" src="{% static 'imagens/logotempo.png' %}">
                    </a>
                </div>
       
                   <div class="contatos">
                       <ul>
                         <li><a href="https://www.instagram.com"> <img height="45" width="35" src="{% static 'imagens/INSTA.png' %}"></a></li>
                         <li><a href="https://web.whatsapp.com"> <img height="45" width="40" src="{% static 'imagens/WHATS.png' %}"> </a></li>
                       </ul>
                      </div>
               </nav>
           </header>
          
<body>

    <div class="serieanome">
        <h1>SÉRIE A </h1>
   </div>

    <img width="33%" height="415" src="{% static 'imagens/jogadorseriea1.jpg' %}">
    <img width="33%" height="415" src="{% static 'imagens/serieatim.png' %}">
    <img width="33%" height="415" src="{% static 'imagens/jogadorseriea2.jpg' %}">

    <div class="frete">
        <h2>FRETE GRÁTIS A PARTIR DE 199,90!!!! ----------- FRETE GRÁTIS A PARTIR DE 199,90!!!! ---------- FRETE GRÁTIS A PARTIR DE 199,90!!!! </h2>
   </div>

    <div class="camisas">
        <section class= "camisaspromo">
        <br>
        <br>
        <br>
        <article= class= "camisaspro">
            <br>
            <img height="250" width="250" src="{% static 'imagens/camisajuve.png' %}" alt="CAMISA 1">
            <h4>Camisa Juventus 2021</h4>
            <h4>R$ 99,90</h4>
            <button type="button">COMPRAR</button>

        </article>
        <br>
        <article= class= "camisaspro">
            <img height="250" width="250" src="{% static 'imagens/camisainter.png' %}" alt="CAMISA 2">
            <h4>Camisa Inter de Milão 2021</h4>
            <h4>R$ 99,90</h4>
            
            <button type="button">COMPRAR</button>

        </article>
        <br>
        <article= class= "camisaspro">
            <img height="250" width="250" src="{% static 'imagens/camisamilan.png' %}" alt="CAMISA 3">
            <h4>Camisa Milan 2021</h4>
            <h4>R$ 99,90</h4>
            <button type="button">COMPRAR</button>

        </article>

        </section>
    </div>

</body>
</html>